<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xupt.tlms.tlmsprovider.Dao.LiteratureDao">

    <resultMap id="BaseResultMap" type="com.xupt.tlms.pojo.Literature">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name"  />
        <result column="author" property="author" />
        <result column="year" property="year" />
        <result column="time" property="time"/>
        <result column="path" property="path"/>
        <result column="publish" property="publish"/>
        <result column="publish_time" property="publishTime"/>
        <result column="remarks" property="remarks"/>
        <result column="user_id" property="userId"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="findAllByResearchId" parameterType="int" resultMap="BaseResultMap">
        SELECT * FROM literature WHERE id in (select literature_id from literature_research_contact where research_id = #{researchId})
    </select>
    <select id="findOneById" parameterType="int" resultType="com.xupt.tlms.pojo.Literature">
        select * from literature where id = #{id}
    </select>
    <insert id="insert" parameterType="com.xupt.tlms.pojo.Literature" useGeneratedKeys="true" keyProperty="id">
        insert  into literature (name,author,year,time,path,remarks,publish,publish_time,user_id)
        values (#{name},#{author},#{year},#{time},#{path},#{remarks},#{publish},#{publishTime},#{userId})
    </insert>
    <insert id="insertLiteratureAndResearch" >
        insert into literature_research_contact (literature_id,research_id) values (#{literatureId},#{researchId})
    </insert>

    <select id="findLiteratureByNameAndResearchId" resultType="com.xupt.tlms.pojo.Literature" >
        SELECT * from literature where name = #{name} and id in (SELECT literature_id from literature_research_contact where research_id = #{researchId})
    </select>
    <select id="findLiteratureByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from literature where name like CONCAT('%',#{name},'%') and status = 0
    </select>
    <select id="findLiteratureByAuthor" parameterType="java.lang.String" resultMap="BaseResultMap">
          select * from literature where author like CONCAT('%',#{name},'%')  and status = 0
    </select>
    <select id="findLiteratureByKeyWord" parameterType="java.lang.String" resultMap="BaseResultMap">
         SELECT * from literature where id IN
         (
         SELECT literature_id FROM literature_keyword_contact where keyword_id in
         (select id from keyword where name like  CONCAT('%',#{name},'%') )
         ) and status = 0
    </select>
    <select id="findLiteratureByUserId" parameterType="int" resultMap="BaseResultMap">
        select * from literature where user_id = #{userId}
    </select>
    <update id="updateLiteratureStatus">
        update literature set status = #{status} where id = #{id}
    </update>

</mapper>